
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

section {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
}

h3 {
    color: #007bff;
}

input[type="radio"],
input[type="text"] {
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.envoyer {
    display: flex;
    justify-content: center;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 5px 0;
}

p.correct {
    color: #28a745;
}

p.incorrect {
    color: #dc3545;
}

.bottom {
    position: relative;
}

.bottom a {
    position: absolute;
    right: 0;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.bottom a:hover {
    background-color: #0056b3;
}

.bottom p {
    margin: 5px 20px;
    font-size: 20px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

nav {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar h1 {
    color: #333;
    margin: 0;
}

.infos {
    display: flex;
    align-items: center;
}

.infos p {
    margin: 0 20px;
    color: #fff;
}

.infos a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.infos a:hover {
    text-decoration: underline;
}

form {
    width: 60%;
    margin: 0 auto;
    text-align: left;
}
